h1 {
  font-family: helvetica;
  font-weight: 200;
}

h3 {
  font-family: Futura; 
  font-weight: normal;
  line-height: normal;
  margin-top: calc(2rem - 0.142857em);
}

.brand-name {
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
  font-family:Futura;
  font-weight: normal;
  color: black;
}

.search-bar {
  display: inline-block;
  margin-top: 20px;
  font-family:Futura;
  margin-left: 267px;
  padding-left: 1px;
  line-height: 33px;
  width: 530px;
  font-weight: normal;
}

.nav-links {
  display: inline-block;
  margin-top: 20px;
  font-family: Futura;
  margin-left: 90px;
  font-weight: normal;
}

.explore-tabs {
  display: inline-block;
  font-family: Futura; 
  font-size: 18px; 
  border-width: 1px; 
  border-color: black; 
  margin-left: 20px; 
  padding-left: 20px; 
  padding-right: 20px; 
  padding-top: 10px;
  padding-bottom: 10px; 
  border-style: solid;
  text-decoration: none; 
  color: black;
  font-weight: normal;
}

.landing-header {
  font-family: Futura; 
  font-size: 20px; 
  margin-left: 20px; 
  font-weight: normal;
}

.landing-billboards {
  display: inline-block; 
  font-family: Futura; 
  font-size: 20px; 
  margin-left: 20px;
  width: 250px; 
  font-weight: normal;
  padding-bottom: 20px;

}

.billboard-image {
  width: 250px; 
  height: 200px; 
  border-width: 1px;
  border-color: black;
  border-style: solid;
  font-weight: normal;
}

.billboard-title {
  font-size: 18px;
  font-weight: normal;
}

.sort-by-label {
  display: inline-block;
  font-family: Futura; 
  font-size: 18px; 
  color: black;
  margin-left: 20px;
  font-weight: normal;

}

.sort-by-filter {
  font-family: Futura; 
  font-size: 18px; 
  color: black; 
  border-width: 1px; 
  border-color: black; 
  border-style: solid;
  display: inline-block;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: normal;
}


.ui.modal:not(.compact) {
  width: calc(100% - 50px) !important;
  margin-left: 25px !important;
  height: auto !important;
  margin-top: 25px !important;
  }

.billboard-flex-superparent {
  display: flex; 
}

.billboard-flex-parent {
  width: 50%;
  display: flex; 
  flex-direction: column; 
  justify-content: space-evenly;
}

.billboard-image-modal {
  width: 350px; 
  height: 300px; 
  border-width: 1px;
  border-color: white;
  border-style: solid;
  font-weight: normal;
}

.map-modal {
  width: 350px; 
  height: 300px;
  margin-top: 2%; 
}

.sb-avatar__text {
  color: black !important; /* !important used to override the default react-avatar styling */
  background: white !important; /* !important used to override the default react-avatar styling */
}

.billboard-seller {
  display: flex; 
  flex-direction: row; 
  justify-content: space-between; 
  align-items: center; 
  margin-right: 20%; 
}

.contact-seller {
  width: 50%; 
}

.contact-seller h3 {
  font-size: 30px; 
}

.billboard-categories h3 {
  font-size: 30px; 
}

.billboard-category-types{
  display: flex; 
  flex-direction: row; 
  justify-content: space-between; 
  flex-wrap: wrap;
}

.billboard-category-types h3 {
  font-size: 20px;
}

.billboard-category-type {
  margin: 0; 
  border-radius: 4px;
  border-style: solid; 
  border-width: 1px; 
  padding-left: 2%; 
  padding-right: 2%; 
  height: fit-content; 
}

.billboard-seller-reviews {
  font-weight: lighter; 
  margin-right: 20%; 
}

.billboard-seller-reviews h3 {
  font-size: 30px; 
}
.billboard-seller-reviews-categories {
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap; 
  font-weight: lighter; 
  font-size: 20px;
  font-family: Futura; 
  justify-content: space-between;
}